<section class="admin-dashboard">
  <header class="page-header"  >
    <h1>Admin >> Dashboard</h1>
  </header>
  <div class="panel panel-default">
    <p>Products: <%= @ProductCount %></p>
    <p>Categories: <%= @CategoryCount %></p>
  </div>
</section>
