<section class="cart-show">

  <header class="page-header">
    <h1>About</h1>
  </header>
  <p> Jungle was created by lifelong shrubbery enthusiats who were simply fed up with online market places for plant shopping.  
  Here at the Jungle we strive to fulfill all your plant, tree, and shrubbery needs.  We are committed to exceptional selection
  and customer service and will work tirelessly to provide the best shopping experience.</p>

  <p>The Jungle is a subsidery of LightHouse Labs.  Built for all to have the best experience in shrubbery and other plant shopping experiences</p>

</section>
